trigger:
    - main

pool:
    vmImage: "ubuntu-latest"

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '5b16ba9d-5cd6-4594-83d8-24857188d59e'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: '5b16ba9d-5cd6-4594-83d8-24857188d59e'
        repository: 'ecommerce'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        buildContext: '$(System.SourcesDirectory)'
        tags: |
          $(Build.BuildId)
          latest