trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  solutionDir: 'ECommerce'

steps:
- script: pwd
  displayName: 'what directory are we in?'

- script: ls -la
  displayName: 'what files are in the directory?'

- script: dotnet build
  displayName: 'dotnet build'
  workingDirectory: $(solutionDir)
